<connectionStrings>
  
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SAT.UI.MVC-20220223010431.mdf;Initial Catalog=aspnet-SAT.UI.MVC-20220223010431;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=SAT;Integrated Security=true" providerName="System.Data.SqlClient" />
  
</connectionStrings>
