<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Kansas Cities premier culinary academy.">
    <meta name="author" content="Abbey Outain and Andrew Allen">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>Kansas City Culinary Academy</title>
    <link rel="icon" href="~/Content/Favicon/favicon-32x32.png" type="image/png" alt="Kitchen knife logo" />

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <script src="https://kit.fontawesome.com/41ee268063.js" crossorigin="anonymous"></script>

    @*<link rel="stylesheet" href="~/Content/css/fontawesome.css">*@
    <link rel="stylesheet" href="~/Content/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="~/Content/css/owl.css">
    <link rel="stylesheet" href="~/Content/css/lightbox.css">
    <link rel="stylesheet" href="~/Content/css/flex-slider.css" />
    <link rel="stylesheet" href="~/Content/css/CustomStyle.css" />
    <!--

    TemplateMo 557 Grad School

    https://templatemo.com/tm-557-grad-school

    -->
</head>
<body>
    <!--header-->
    <header class="main-header clearfix">
        <div class="logo">
            <a href="#"><em>KC</em> Culinary Academy</a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-chevron-down"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href=@Url.Action("Index", "Home")>Home</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li><a href=@Url.Action("Index", "Courses")>Courses</a></li>
                }
                <li><a href=@Url.Action("Contact", "Home")>Contact</a></li>
                <li class="has-submenu">
                    <a href="#">Admin</a>
                    <ul class="sub-menu">
                        @*<li><a href=@Url.Action("Login", "Account")>Login</a></li>*@
                        @if (User.IsInRole("Scheduling") || User.IsInRole("Admin"))
                        {
                            <li><a href=@Url.Action("Index", "Enrollments")>Enrollment</a></li>
                            <li><a href=@Url.Action("Index", "Students")>Students</a></li>
                            <li><a href=@Url.Action("Index", "ScheduledClasses")>Schedule</a></li>
                            <li><a href="~/Content/Download/SATDocumentation.pdf" download="">Documentation</a></li>
                        }
                        @Html.Partial("_LoginPartial")
                    </ul>
                </li>
            </ul>
        </nav>
    </header>


    <!--================ Main Content Start Area  =================-->
    @RenderBody()
    <!--================ Main Content End Area  =================-->


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <i class="fa fa-copyright"></i> Copyright 2022

                        | Design: <a href="http://abbey-outain.com" target="_blank">Abbey Outain</a> and <a href="http://double-a-dev.com" target="_blank">Andrew Allen</a><br>
                        Distributed By: <a href="https://themewagon.com" rel="sponsored" target="_blank">ThemeWagon</a>

                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    @RenderSection("scripts", required: false)
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/js/isotope.min.js"></script>
    <script src="~/Content/js/owl-carousel.js"></script>
    <script src="~/Content/js/lightbox.js"></script>
    <script src="~/Content/js/tabs.js"></script>
    <script src="~/Content/js/video.js"></script>
    <script src="~/Content/js/slick-slider.js"></script>
    <script src="~/Content/js/custom.js"></script>

</body>
</html>